<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Comments</title>
		<link rel="stylesheet" href="/static/index.css" />
	</head>
	<body>
		<h1>Post:</h1>
		{% include 'snippet.html' %}
		<hr />
		{% if username %}
		<div>
			<h2>New comment</h2>
			<form action="/new_comment/{{ post.id }}" method="post">
				<input type="text" name="data" id="" />
				<button>Submit</button>
			</form>
			{% if msg %}
			<p>{{msg}}</p>
			{% endif %}
		</div>
		{% endif %} {% for comment in comments %} {% include 'comment.html' %} {%
		endfor %}
	</body>
</html>
