{% extends 'base.html' %} {% block title %}Comments{% endblock %} {% block
content %}
<h1 class="page-title-center">Post:</h1>
{% include 'snippet.html' %}
<hr />
{% if g.user %}
<div>
  <form action="/new_comment/{{ post.id }}" method="post" class="new-comment-container">
    <input type="text" name="data" id="" placeholder="New comment" />
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
    <button class="basic-button">Submit</button>
  </form>
  {% for msg in commentform.errors %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %} {% for comment in comments %} {% include 'comment.html' %} {% endfor
%} {% endblock %}
