<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit post</title>
	</head>
	<body>
		<h1>Edit post</h1>
		<form method="POST" action="#">
			<textarea name="data" id="data" rows="10" cols="80" maxlength="2000">
{{ postform.data }}</textarea
			>
			<br />
			{% for l in languages %} <input type="radio" id="language-{{ l }}"
			name="language" value="{{ l }}" {% if l == postform.language %} checked {%
			endif %} />
			<label for="language-{{ l }}">{{ l }}</label>
			<br />
			{% endfor %}
			<input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
			<button>Update</button>
		</form>
		{% for msg in postform.errors %}
		<p>{{ msg }}</p>
		{% endfor %}
	</body>
</html>
