<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Snippet Share</title>
		<link rel="stylesheet" href="static/index.css" />
	</head>
	<body>
		<h1>Snippet Share</h1>
		<div>
			{% if username %}
			<p>Logged in as {{username}}</p>
			<form method="post" action="/logout">
				<button>Log Out</button>
			</form>
			<a href="/post">New post</a>
			{% else %}
			<a href="/login">Log in</a>
			<a href="/register">Create new user</a>
			{% endif %}
			<form action="/search" method="GET">
				<label for="query">Search: </label>
				<input id="query" name="query" type="text" />
			</form>
		</div>
		<h2>Feed</h2>
		<hr />
		{% for post in posts %}
		<div class="post_container">
			<p class="username">{{ post.username }}</p>
			<p class="language">{{ post.language }}</p>
			<div class="code_section">
				<p>{{ post.data | show_lines }}</p>
			</div>
			<form action="/like/{{ post.id }}" method="POST">
				<button>
					<img src="static/heart_black.svg" alt="heart" />
					<p>{{ post.likes }}</p>
				</button>
			</form>
			<a href="">6 comments</a>
			{% if username == post.username %}
			<a href="/edit/{{ post.id }}">Edit</a>
			<form method="POST" action="/delete/{{ post.id }}">
				<button>Delte</button>
			</form>
			{% endif %}
		</div>
		{% endfor %}
	</body>
</html>
