<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Snippet Share</title>
	</head>
	<body>
		<h1>Snippet Share</h1>
		<div>
			{% if username %}
			<p>Logged in as {{username}}</p>
			<form method="post" action="/logout">
				<button>Log Out</button>
			</form>
			<a href="/post">New post</a>
			{% else %}
			<a href="/login">Log in</a>
			<a href="/register">Create new user</a>
			{% endif %}
		</div>
		<h2>Feed</h2>
		<hr />
		{% for post in posts %}
		<div>
			<p>{{ post.username }}</p>
			<p>{{ post.language }}</p>
			<p>{{ post.data | show_lines }}</p>
			<p>Likes: 40</p>
			<a href="">6 comments</a>
			{% if username == post.username %}
			<a href="/edit/{{ post.id }}">Edit</a>
			{% endif %}
		</div>
		{% endfor %}
	</body>
</html>
