<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Snippet Share</title>
		<link rel="stylesheet" href="static/index.css" />
	</head>
	<body>
		<h1>Snippet Share</h1>
		<div>
			{% if g.user %}
			<p>Logged in as {{g.user.username}}</p>
			<form method="post" action="/logout">
				<button>Log Out</button>
			</form>
			<a href="/post">New post</a>
			{% else %}
			<a href="/login">Log in</a>
			<a href="/register">Create new user</a>
			{% endif %}
			<form action="/search" method="GET">
				<label for="query">Search: </label>
				<input id="query" name="query" type="text" />
			</form>
		</div>
		<h2>Feed</h2>
		<hr />
		{% for post in posts %} {% include 'snippet.html' %} {% endfor %}
	</body>
</html>
