{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content
%}
<h1 class="page-title-left">Login</h1>
{% for msg in get_flashed_messages(category_filter=["info"]) %}
<p class="info-msg">Info: {{ msg }}</p>
{% endfor %}
<form method="POST" action="/login">
  <table class="form-table">
    <tr>
      <th>
        <label for="username">Username: </label>

      </th>
      <th>
        <input id="username" name="username" type="text" value="{{loginform.username}}" />
      </th>
    </tr>
    <tr>
      <th>
        <label for="password">Password: </label>
      </th>
      <th>
        <input id="password" name="password" type="password" value="{{loginform.password}}" />
      </th>
    </tr>
  </table>
  <input type="hidden" name="csrf_token" value="{{session.csrf_token}}" />
  <button type="submit" class="basic-button">Login</button>
</form>
{% for msg in get_flashed_messages(category_filter=["error"]) %}
<p class="error_msg">Error: {{ msg }}</p>
{% endfor %} {% endblock %}
