<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New post</title>
	</head>
	<body>
		<h1>Create new post</h1>
		<form method="POST" action="/post">
			<textarea
				name="data"
				id="data"
				rows="10"
				cols="80"
				maxlength="2000"
			></textarea>
			<br />
			{% for l in languages %}
			<input
				type="radio"
				id="language-{{ l }}"
				name="language"
				value="{{ l }}"
			/>
			<label for="language-{{ l }}">{{ l }}</label>
			<br />
			{% endfor %}
			<button>Submit</button>
		</form>
		{% if msg %}
		<p>{{ msg }}</p>
		{% endif %}
	</body>
</html>
