<div class="post_container">
	<p class="username">{{ post.username }}</p>
	<p class="language">{{ post.language }}</p>
	<div class="code_section">
		<p>{{ post.data | show_lines }}</p>
	</div>
	<form action="/like/{{ post.id }}" method="POST">
		<button>
			<img src="static/heart_black.svg" alt="heart" />
			<p>{{ post.likes }}</p>
		</button>
	</form>
	<a href="">6 comments</a>
	{% if username == post.username %}
	<a href="/edit/{{ post.id }}">Edit</a>
	<form method="POST" action="/delete/{{ post.id }}">
		<button>Delte</button>
	</form>
	{% endif %}
</div>
