<div class="post-container" id="post-{{ post.id }}">
	<div class="code-section">
		<p>{{ post.data | show_lines }}</p>
	</div>
  <div class="post-data-section">
    <div class="post-left">
      <a class="basic-button" href="/user/{{ post.username }}">{{ post.username }}</a>
      <p class="basic-button">{{ post.language }}</p>
    </div>
    <div class="post-right">
      {% if g.user and g.user.username == post.username %}
      <div class="post-user-actions">
        <a href="/edit/{{ post.id }}" class="icon-button">
          <img src="/static/edit.svg" alt="">
        </a>
        <form method="POST" action="/delete/{{ post.id }}" class="icon-button">
          <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
          <button>
            <img src="/static/delete.svg" alt="">
          </button>
        </form>
      </div>
      {% endif %}
      {% if not hide_link %}
      <div class="comment-div">
        <a href="/comments/{{ post.id }}" class="basic-button">{{ post.comments }} comments</a>
      </div>
      {% endif %}
      {% if g.user %}
      <form action="/like/{{ post.id }}" method="POST" class="like-form">
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
      {% else %}
      <form action="/login" method="GET" class="like-form">
      {% endif %}
        <input type="hidden" name="next" value="{{ request.path }}" />
        {% if query %}
        <input type="hidden" name="query" value="{{ query }}" />
        {% endif %}
        <button class="like-button">
          <p>{{ post.likes }}</p>
          {% if post.liked %}
          <img src="/static/heart_red.svg" alt="heart" />
          {% else %}
          <img src="/static/heart_white.svg" alt="heart" />
          {% endif %}
        </button>
      </form>
    </div>
  </div>
</div>
