<div class="post_container" id="post-{{ post.id }}">
	<p class="username">{{ post.username }}</p>
	<p class="language">{{ post.language }}</p>
	<div class="code_section">
		<p>{{ post.data | show_lines }}</p>
	</div>
	{% if username %}
	<form action="/like/{{ post.id }}" method="POST">
	{% else %}
	<form action="/login" method="GET">
	{% endif %}
		<input type="hidden" name="next" value="{{ request.path }}" />
		{% if query %}
		<input type="hidden" name="query" value="{{ query }}" />
		{% endif %}
		<button>
			{% if post.liked %}
			<img src="/static/heart_red.svg" alt="heart" />
			{% else %}
			<img src="/static/heart_black.svg" alt="heart" />
			{% endif %}
			<p>{{ post.likes }}</p>
		</button>
	</form>
	{% if not hide_link %}
	<a href="/comments/{{ post.id }}">{{ post.comments }} comments</a>
	{% endif %}
	{% if username == post.username %}
	<a href="/edit/{{ post.id }}">Edit</a>
	<form method="POST" action="/delete/{{ post.id }}">
		<button>Delte</button>
	</form>
	{% endif %}
</div>
