* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
  background-color: transparent;
}

html {
  background-color: rgb(41, 41, 41);
}

a {
  text-decoration: none;
}

input {
  color: black;
}

.content {
  background-color: rgb(83, 83, 83);
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.basic-button {
  padding: 0.4em;
  background-color: transparent;
  border: 0.1em solid black;
  border-radius: 1em;
  min-width: 4rem;
  font-size: medium;
  text-align: center;
  display: inline-block;
  margin: 0.2em;
  height: 2rem;
  cursor: pointer;
}

.icon-button {
  align-items: center;
  padding: 0.4em;
  border: none;
  background-color: transparent;
  min-width: 4rem;
  font-size: medium;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.button-form {
  display: inline-block;
}

.post-container {
  margin-left: auto;
  margin-right: auto;
  border: 0.1em solid black;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1em;
  max-width: 30rem;
}

.code-section {
  font-family: monospace;
  background-color: rgb(37, 37, 37);
  border-radius: 0.6em;
  padding: 0.8em;
  width: 100%;
  border: none;
}

.post-data-section {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-right {
  display: flex;
  flex-direction: row;
}

.post-user-actions {
  display: flex;
  flex-direction: row;
}

.like-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}

.like-button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  align-items: center;
  font-size: large;
  cursor: pointer;
}

.like-button img {
  margin-left: 0.2em;
}

nav {
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
  background-color: rgb(220, 127, 155);
}

.nav-left {
  margin: 1rem;
}

.nav-right {
  display: flex;
  margin: 0.4em;
  align-items: center;
}

.search-field {
  margin-right: 3em;
}

.form-table th {
  padding-right: 1em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  text-align: right;
}

.language-radio {
  margin: 0.4em;
}

.page-title-center {
  text-align: center;
  margin-bottom: 1em;
}

.page-title-left {
  margin-bottom: 1em;
}

.new-comment-container {
  margin: 1em;
}

.comment-container {
  margin-left: auto;
  margin-right: auto;
  border: 0.1em solid black;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

.comment-text {
  padding: 0.4em;
}
